@import "./css/reset";

.calculator {
  width: 390px;
  background: $black;
  padding: 19px;
  border-radius: 40px;

  &__display {
    width: 100%;
    font-size: calculator-rem(48);
    display: flex;
    flex-direction: column;
    align-items: end;
    
    &-input {
      font-size: calculator-rem(48);
      width: 100%;
      text-align: end;
      background: transparent;
      outline: transparent;
      border: 0;
      color: $white;
      margin-top: 88px;
    }
    
    &-result {
      color: $light-grey;
      margin-top: 88px;
    }
  }

  &__callback {
    margin-top: 20px;
  }

  &__buttons {
    margin-top: 20px;
    &--button {
      background: $grey;
      color: $white;
      width: 73px;
      height: 75px;
      border-radius: 9px;
      font-size: calculator-rem(36);
      border: 0;

      &:hover {
        background: lighten($grey, 20%);
      }
    }

    &--button-background-red {
      background: $red;

      &:hover {
        background: lighten($red, 20%);
      }
    }

    &--button-background-green {
      background: $green;

      &:hover {
        background: lighten($green, 20%);
      }
    }

    &--button-color-grey {
      color: $grey;
    }

    &--button-color-green {
      color: $green;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
}

hr {
  margin-top: 20px;
}
